svg { 
  display: block;
  margin: 0 auto;
}

h1 { margin-bottom: 2rem; }

body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h3 { 
  margin-top: 3rem; 
  margin-bottom: 1rem;
}

.container {
  max-width: 46rem;
}

img.block {
  display: block;
  border: solid #333 1p;
  margin: 0 auto;
}

/* svg {
  margin-bottom: 15px;
} */

.ticks {
  font-size: 12px;
  font-weight: bold;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}